@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  height: 100%;
  overflow: auto;
}
body {
  background-color: #e8e2e1;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
a {
  color: black;
}

input {
  margin: 10px;
  overflow: hidden;
}

.btn {
  border-radius:  0;
  background: #43A047;
  color:  white;
}

.div {
  width: 100%;
}

.fill-height {
  display: block;
  min-height: 100%;
  top:  0px;
  bottom: 0px;
}

.panel-default > .panel-heading {
  background-color: #8BC34A;
  color:  white;
}

.pdf-super-header {
  visibility: hidden;
}

.pdf-header {
  margin-top: 1px;
  background-color: #60a0a6;
  color: white;
  padding:  10px;
  padding-left: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

@media (min-height: 2000px) {
  .pdf-super-header {
    visibility: visible;
    text-align: center;
    display:  flex;
    height: 30%;  
  
  }
  .pdf-super-header div {
    height: 30%;
  }
  .pdf-super-header .fa {
    text-align: center;
  }
}

.pdf-footer {
  background-color: #60a0a6;
  color: white;
  padding:  10px;
  padding-left: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


.pdf-sidebar-container {
  padding: 0;
  height:100%;
}

.pdf-sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; bottom: 0;
  overflow: auto;
  visibility: hidden;
  background: #626a70;
  display:  flex;
  align-items:  center;
  opacity:  .9;
}

.pdf-sidebar .fa {
  color: white;
  margin-top:  50%;
}

@media (min-width: 992px) {
  .pdf-sidebar {
    visibility: visible;
  }
}

.pdf-content-column {
  padding: 0;
  bottom: 0;
  height: auto;
}

.pdf-content {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity:  .9;
}
.textLayer {
  position: absolute;
  top: 0;
  left: 0;
}
